@charset "UTF-8";
/*font-library*/
@import url("/null/Content/configuration/font/fonts.css");

/* 큰 컨테이너 설정 */
*{box-sizing: border-box;}

.box{
	display:flex;
	flex-wrap:wrap;
	align-content:center;
}
.box>.boxer{
	display:inline-flex;
	align-items:center;
	
	width:100%;
	min-height:30px;
	
	border-bottom: 1px solid gray;
}
.box>.boxer>.head{
	height:100%;
	min-width:150px;
	width:150px;
	padding: 10px;
	
	background-color: gray;
}
.box>.boxer>.context{
	width:auto;
	padding: 10px;
}

#customer{
	width:100%; min-height:50px;
	margin-bottom: 30px;
	
	border-top:1px solid black;
}
#address{
	width:100%; min-height:200px;
	margin-bottom: 30px;

	border-top:1px solid black;
}

	/* 고객정보설정 */
	#customer .boxer:nth-child(n+2) {width:50%;}
		/* 휴대폰 번호 */
	#customer .boxer:nth-child(2) input, #customer .boxer:nth-child(2) select{
		width: 15%;
	}
		/* 이메일 */
	#customer .boxer:nth-child(3) input{
		width: 40%;
	}
	
	/* 배송지 설정 */
	#address .boxer:nth-child(3), #address .boxer:nth-child(4){width:50%;}
	
	#address .boxer:nth-child(3) input, #address .boxer:nth-child(4) input,
	#address .boxer:nth-child(3) select, #address .boxer:nth-child(4) select
	{width:25%;}
	