@charset "UTF-8";

/* 상품 정보 레이아웃 셋팅 */

	/* 	이미지 */
#product_info #product_img{
	display: inline-flex;
	flex-direction: inherit;
	justify-content: center;
	align-items: center;
	
	position: inherit;
	height: 400px;
	width: 40%;
	
	background-color: #ffb3b3;

}
	/*background-image*/
#product_img img{
	width: 80%; 
	height: auto;
}	
	
	/* info*/
#product_info #option{
	display: inline-flex;
	flex-direction:inherit;
	flex-wrap:wrap;
	align-content:flex-start;
	
	position: inherit;
	top:0%;left:0%;
	height: auto;
	width: 60%;
	
	background-color: #b3b3ff;
	
	font-family: Maplestory;
}	
	/* 옵션 높이 설정 */
#product_info #option>div:nth-child(2){height:90px;border-top:1px solid black;}
#product_info #option>div:nth-child(3){height:50px;border-top:1px dashed gray;border-bottom:1px dashed gray;}
#product_info #option>div:nth-child(4){height:60px;}
#product_info #option>div:nth-child(5){height:90px;border-bottom:1px dashed gray;}
#product_info #option>div:last-child{height:auto;padding:0 0 20px 0;border-bottom:1px solid black;}

	/* 타이틀 */
#product_info .title{
	display: flex;
	flex-direction:inherit;
	align-items: flex-end;
	
	position: inherit;
	height: 150px;
	width: 100%;
	padding:0 0 0 10%;
	
}
#product_info .title>span{
	margin-bottom: 20px;
}


	/* 리얼 스펙 */
#product_info .content{
	display: flex;
	flex-direction:inherit;
	align-items:center;
	
	position: inherit;
	height: 50px;
	width: 100%;
	
	font-family:Maplestroy;
}
#product_info .content div:nth-child(1){
	flex: 3;
	
	font-size:15px;
	font-weight:bolder;
	text-align: center;
}
#product_info .content div:nth-child(2){
	flex: 7;
}



/* 찜하기,장바구니,결제하기 */
#product_info #payment{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position:relative;
	
	height: 170px;
	width:60%;
	background-color: #53c653;
	
	font-family: DXN;
} 

#product_info #payment div{
	display:inline-flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
	/* 버튼 설정 */
#product_info #payment div:nth-child(n+2){
	position: relative;
	
	width: 23%;height: 40px;
	margin: 0 20px 0;
	border: 1px solid red;
	
	font-size:20px;
	font-weight: border;
	color:red;
	
}
#product_info #payment div:last-child{
	border:none;
	color:white;
	background-color: red;
}

#product_info #payment div:first-child{
	position: absolute;
	top:10px;;right:0;
	width: auto;height: 30px;
	
	font-family: inherit;
	font-size: 17px;
	font-weight: bolder;
	
	 
}