@charset "UTF-8";

*{
	box-sizing: border-box;
}


#container{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

nav{
	display: inline-flex;
	flex-basis: 100px;
	flex-grow: 1;
}

section{
	display:inline-flex;
	flex-direction: column;
	flex-grow: 12;
	border-left: 1px solid red;
}
section>div:first-child{
	display: flex;
	font-size: 30px;
	font-weight: bold;
	height: 100px;
	align-items: center;
	justify-content: center;
	flex-direction:row;
	
}
