<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dto.Admin" >
	
	<select id="searchPcodeByPname" parameterType="string" resultType="string">
		select pcode from product where pname = #{pname}
	</select>
	
	<select id="searchPnameByPcode" parameterType="string" resultType="string">
		select pname from product where pcode = #{pcode}
	</select>
	
	<insert id="insertStock" parameterType="stock" >
		insert into stock (scode,pcode,psize,pcolor,pprice,pamount,deliverfee_yn)
		values (#{sCode},#{pCode},#{pSize},#{pColor},#{pPrice},#{pAmount},#{deliverFee_YN})
	</insert>
	
	<select id="searchSCode" parameterType="string" resultType="int">
		select count(*) from stock where sCode=#{sCode}
	</select>
	
	<update id="updateStock" parameterType="stock">
		update stock set pamount = (pamount+#{pAmount}) where scode = #{sCode}
	</update>
</mapper>