<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shoes.ProductMapper">
	
	<!-- Products_info list-->
	<select id="selectProducts_info" parameterType="hashmap" resultType="string">
		select
		<choose>
			<when test="style!=null">
				distinct
				<choose>
					<when test="style=='styleMid'">
					 styleMid 
					</when>
					<when test="style=='styleBot'">
					 styleBot
					</when>
				</choose>
				from product
			</when>
			<when test="pName!=null">
				pName from product
			</when>
		</choose>
	</select>
	
	<!-- 	개별 상품 정보 -->
	<select id="selectProduct_info" parameterType="hashmap" resultType="hashmap">
		select scode, s.pcode pcode, psize, pcolor, pprice, pamount, deliverfee_yn
		from product p,stock s
		where p.pcode = s.pcode
		and p.pcode = #{pCode}
	<if test="pColor!=null">and pcolor = #{pColor}</if>
	<if test="pSize!=null">and psize = #{pSize}</if>
	</select>
	
	
	<!-- 상품 검색 리스트 -->
	<select id="selectProductList" parameterType="hashmap" resultType="product">
		select p.pcode, stylemid, stylebot, pname, pimage, pregitdate, m.pPrice, nvl(searchedCnt,0) popularity
		from product p, stock s , (select pCode,min(pPrice) pPrice
								   				from stock
								   				group by pCode) m, searchedWord w
		where p.pcode = s.pcode and s.pcode = m.pcode and p.pname = w.sword(+)
			<if test="styleMid!=null">and styleMid in
			 	<foreach collection="styleMid" item="item" open="(" close=")"  separator=",">
			 		#{item}	
			 	</foreach>
			 </if>
			<if test="styleBot!=null">and styleBot in
			 	<foreach collection="styleBot" item="item" open="(" close=")"  separator=",">
			 		#{item}	
			 	</foreach>
			 </if>
			<if test="pName!=null">and 
				<foreach collection="pName" item="item"  separator="or">
			 		pName like '%'||#{item}||'%'	
			 	</foreach>
			</if>
			<if test="pSize!=null">and pSize in
			 	<foreach collection="pSize" item="item" open="(" close=")"  separator=",">
			 		#{item}	
			 	</foreach>
			</if>
			<if test="pColor!=null">and pColor in 
				 <foreach collection="pColor" item="item" open="(" close=")"  separator=",">
			 		#{item}	
			 	</foreach>
			</if>
			<if test="pPrice!=null">and m.pPrice between #{pPrice_min} and #{pPrice_max}</if>
			<if test="deliverFee_YN!=null">and deliverFee_YN = #{deliverFee_YN}</if>
		order by to_number(p.pcode)
	</select>
	<select id="selectOne" parameterType="hashmap" resultType="product">
		select pcode, stylemid, stylebot, pname, pimage, pregitdate
		from product
		where pcode = #{pCode}
	</select>
	
</mapper>